<section id="education">
  <div class="education-header">
    <h2>Education 📚</h2>
  </div>
  <div class="education-container">
    <div class="education-info">
      <div class="education-title">
        <h3>Computer Analyst (intermediate title)</h3>
        <p class="education-time">2021 - 2024</p>
      </div>
      <h5>Facultad de Ingeniería - Universidad de la República</h5>
      <div class="education-title">
        <h3>Computer Engineering</h3>
        <p class="education-time">2021 - Present</p>
      </div>
      <h5>Facultad de Ingeniería - Universidad de la República</h5>
      <div class="education-scolarship">
        <h3>Scolarship</h3>
        <p>
          If you would like to review the details of my scholarship, please
          contact me at the email address provided below.
        </p>
      </div>
      <h3>Relevant Subjects</h3>
      <ul class="subjects">
        <li>Software Engineering Project</li>
        <li>Machine Learning</li>
        <li>Computer Architecture</li>
        <li>Operating Systems</li>
        <li>Programming 1, 2, 3 and 4</li>
        <li>Information Systems for Big Data Analysis</li>
      </ul>
      <h3>Current Subjects</h3>
      <ul class="current-subjects">
        <li>Not currently enrolled in courses due to the summer recess.</li>
      </ul>
    </div>
  </div>
</section>

<style>
  #education {
    height: auto;
    margin-bottom: 4rem;
  }
  .education-info {
    margin-left: 2rem;
    max-width: 700px;
    position: relative;
  }

  .education-time {
    font-size: 1rem;
    color: #777;
    font-style: italic;
  }

  .subjects,
  .current-subjects {
    margin-left: 3rem;
    margin-bottom: 1rem;
  }

  .education-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3.5rem;
  }

  h5 {
    color: #bbb;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: #747474;
    font-style: italic;
    position: relative;
    transition: color 0.25s ease-out;
  }

  a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white; /* O el color que prefieras */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  a:hover {
    color: #ffffff;
  }

  .education-scolarship {
    margin-block: 1rem;
  }

  @media screen and (max-width: 660px) {
    .education-info,
    .subjects,
    .current-subjects {
      margin-left: 0;
    }
    ul {
      list-style: none;
    }
    li {
      text-align: center;
    }
    /*     h4 {
      margin-top: 1rem;
    }
 */
    .education-time {
      position: static;
    }

    .current-subjects {
      font-style: italic;
    }

    .education-title {
      padding-right: 0;
      flex-direction: column;
      margin-bottom: 0.5rem;
    }

    h5 {
      text-align: center;
      margin-bottom: 1rem;
      font-weight: 400;
      color: #fff;
    }

    .education-scolarship {
      margin-block: 1.25rem;
    }
  }
</style>
