<section id="experience">
  <div class="experience-header">
    <h2>Experience 🚀</h2>
  </div>
  <div class="experience-container">
    <ul class="experience-list">
      <li class="job">
        <div class="experience-title">
          <h4>Full Stack Developer - SuiteDB</h4>
          <p class="job-time">March 2024 - July 2024</p>
        </div>
        <p>
          E-commerce web stores developer. Worked on multiple projects for
          clients from the USA, Canada, and Australia. Utilized technologies
          such as NetSuite, JavaScript, HTML, CSS, and BackboneJS.
        </p>
      </li>
    </ul>
  </div>
</section>

<style>
  #experience {
    height: auto;
    margin-bottom: 4rem;
  }
  .experience-header h2 {
    font-size: 2rem;
  }
  .experience-list {
    margin-left: 2rem;
    max-width: 700px;
  }

  .job {
    position: relative;
  }
  .job h3 {
    font-size: 1.5rem;
  }

  .job p {
    font-size: 1rem;
  }

  .job-time {
    color: #777;
    font-style: italic;
    font-size: 1rem;
    /*     position: absolute;
    top: 6%;
    right: 6%; */
  }

  .experience-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
  }

  @media screen and (max-width: 660px) {
    .experience-list {
      margin-left: 0;
    }
    ul {
      list-style: none;
    }
    li {
      text-align: center;
    }

    .job-time {
      position: static;
    }
/* 
    h4 {
      margin-top: 0.5rem;
    } */

    .experience-title {
      padding-right: 0;
      flex-direction: column;
      margin-bottom: 0.5rem;
    }
  }
</style>
