<section id="experience">
  <div class="experience-header">
    <h2>Experience 🚀</h2>
  </div>
  <div class="experience-container">
    <ul class="experience-list">
      <li class="job">
        <h4>Full Stack Developer - SuiteDB</h4>
        <p>
          E-commerce web stores developer. Worked on multiple projects for
          clients from the USA, Canada, and Australia. Utilized technologies
          such as NetSuite, JavaScript, HTML, CSS, and BackboneJS.
        </p>
        <p class="job-time">March 2024 - July 2024</p>
      </li>
    </ul>
  </div>
</section>

<style>

  #experience {
    height: auto;
  }
  .experience-header h2 {
    font-size: 2rem;
  }
  .experience-list {
    margin-left: 2rem;
    max-width: 700px;
  }

  .job {
    position: relative;
  }
  .job h3 {
    font-size: 1.5rem;
  }

  .job p {
    font-size: 1rem;
  }

  .job-time {
    color: #777;
    position: absolute;
    top: 6%;
    right: 6%;
  }

  @media screen and (max-width: 660px) {
    .experience-list {
      margin-left: 0;
    }
    ul {
      list-style: none;
    }
    li {
      text-align: center;
    }

    .job-time {
        position: static;

    }

    h4 {
        margin-top: 1rem;
    }
  }
</style>
