<section id="skills">
  <div class="skills-header">
    <h2>Skills 🛠️</h2>
  </div>
  <div class="skills-container">
    <div class="row">
      <div class="row-header">
        <h3 class="frontend">Frontend</h3>
      </div>
      <div class="row-images">
        <img src="/next.webp" alt="" />
        <img src="/react-2.svg" alt="" />
        <img src="/tailwind.svg" alt="" />
        <img src="/logo-javascript.svg" alt="" />
        <img src="/sass.svg" alt="" />
        <img src="/Astro.svg" alt="" />
        <img src="/bootstrap.svg" alt="" />
        <img src="/typescript.svg" alt="" />
        <img src="/css.svg" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="row-header">
        <h3 class="backend">Backend</h3>
      </div>
      <div class="row-images">
        <img src="/nodejs-icon.svg" alt="" />
        <img src="/express.svg" alt="" />
        <img src="/python-5.svg" alt="" />
        <img src="/java-4.svg" alt="" />
        <img src="/docker.svg" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="row-header">
        <h3 class="datascience">Data Science & Machine Learning</h3>
      </div>
      <div class="row-images">
        <img src="/postgresql-icon.svg" alt="" />
        <img src="/pentaho.png" alt="" />
        <img src="/microsoft_powerbi-icon.svg" alt="" />
        <img src="/bigdata.png" alt="" />
        <img src="/python-5.svg" alt="" />
        <img class="pandas" src="/pandas.png" alt="" />
        <img class="pandas" src="/scikit-learn.webp" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="row-header">
        <h3 class="othertech">Other Technologies</h3>
      </div>
      <div class="row-images">
        <img src="/github-icon-2.svg" alt="" />
        <img src="/vercel.svg" alt="" />
        <img src="/slack.svg" alt="" />
        <img src="/jira.svg" alt="" />
        <img src="/netsuite.svg" alt="" />
        <img src="/figma.svg" alt="" />
        <img src="/linear.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<style>
  #skills {
    padding: 2rem;
    height: auto;
    background: rgba(43, 42, 42, 0.05);
    box-shadow: 0 8px 32px 0 rgba(71, 71, 71, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(58, 58, 58, 0.371);

    @media screen and (max-width: 660px) {
      padding: unset;
      border: none;
      background: transparent;
      box-shadow: none;
    }
  }

  .skills-header {
    margin-bottom: 2rem;
  }

  .skills-header h2 {
    font-size: 2rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;

    @media screen and (max-width: 660px) {
      align-items: center;
    }
  }

  .row-images {
    display: flex;
    justify-content: start;
    gap: 0.8rem;
    flex-wrap: wrap;
    @media screen and (max-width: 660px) {
      justify-content: center;
      gap: 1.5rem;
    }
  }
  .skills-container img {
    height: 75px;
    width: 75px;
    filter: grayscale(100%);
    transition: 0.3s;
  }

  .pandas {
    background: #fff;
    border-radius: 100%;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    gap: 2rem;
  }

  .row:hover .row-images img {
    filter: grayscale(0%);
    transform: scale(1.1);
  }

  .row-header h3 {
    transition: color 0.3s;
  }

  .row:hover .frontend {
    color: #00a8ff;
  }

  .row:hover .backend {
    color: #6bdf61;
  }

  .row:hover .datascience {
    color: #ef8c21;
  }

  .row:hover .othertech {
    color: #ea6fd5;
  }
</style>
